* {
    border: none;
    border-radius: 0;
    font-family: SF Pro Display, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #C0C0C0;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #C0C0C0;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    color: white;
    border-bottom: 3px solid white;
}

#workspaces button.urgent {
    background: #F49648;
    color: white;
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: #769ECB;
    color: #2F4F4F;
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
}

#battery {
    background-color: #9DBAD5;
    color: #2F4F4F;
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
}

#battery.charging {
    color: white;
    background-color: #26A65B;
    border-bottom: 3px solid transparent;
}

@keyframes blink {
    to {
        background-color: rgba(43, 48, 59, 0.5);
        color: #C0C0C0;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-spotify {
    background: #7CAA98;
    color: #2F4F4F;
    padding: 0 10px;
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
}

#tray {
    padding: 0 10px;
}

#cpu {
    background: #FAF3DD;
    color: #2F4F4F;
    padding: 0 10px;
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
}

#pulseaudio {
    background: #C8D6B9;
    color: #2F4F4F;
    padding: 0 10px;
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
}
